__pycache__/
data/NOAA_Whales/
data/mel_spectrograms_multiclass
data/mel_spectrograms_multiclass_exp2/
data/dataset_plots/
data/invalid_duration_annotations.csv
data/splits_exp1/
data/splits_exp2/
data/tuxedni_splits/
checkpoints/
configs/
CLAUDE.md
active learning run commands.txt
data/johnson_splits/
test_results/
inference/
data/tuxedni_spectrograms
data/tuxedni_final_test_spectrograms
data/johnson_spectrograms
data/johnson_final_test_spectrograms
logs/